<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.base.mapper.AccountMapper">
    <resultMap type="com.example.demo.base.entity.Account" id="accountMap">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="userPassword"/>
        <result column="telephone_number" property="telephone"/>
        <result column="rank" property="rank"/>
        <result column="email" property="email"/>
        <result column="type" property="type"/>

    </resultMap>
    <!--根据用户名称查询用户信息-->
    <select id="getAccountByUserName" resultMap="accountMap">
        select account.id, account.user_name, account.password,account.type, record.email, record.telephone_number, record.rank
        from account account
                 left join accountDetailRecord record
                           on account.id = record.account_Id
        where account.user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <!-- 创建用户 -->
    <insert id="createAccount" parameterType="com.example.demo.base.entity.Account">

        insert into account (id, user_name, password)
        values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR})

    </insert>


</mapper>